.nav-link:hover {
    color:blue;
}
.nav-link:focus
{
   color: blue;
}
.nav-link {
    color:black;
}
.cursive {
    font-family: "Lucida Handwriting";
}
.image {
    background-image: url("../img/pexels-photo-382297.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
